# Исключаем зависимости, которые должны быть установлены внутри контейнера
node_modules

# Исключаем результаты сборки, если они есть локально
dist
dist-ssr

# Исключаем локальные переменные окружения
.env*.local
.env

# Исключаем логи и прочие временные файлы
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*